h1{
    color: red;
    text-shadow: 2px 2px 4px blue;
}
b{
    color: blue;
}
.myCountry{
    color: green;
}
.adress-conutry{
    color: red;
}
img{
    height:250px;
    width: auto;
}